<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Страница не найдена! Ошибка 404</title>
    <meta
      name="Description"
      content="Страница не найдена на сайте. Выберите другую страницу."
    />
    <link rel="stylesheet" href="style.css" />
    <style>
      .error404 {
        max-width: 800px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <img
      src="logo/convert-file-logo.svg"
      alt="логотип Convert-file.online"
      class="logo"
      onclick="document.location='/'"
    />

    <div class="error404">
      <h1>Страница не найдена!</h1>
      <p>
        Тут 2 варианта: либо гугл и яндекс пошутили и решили не убирать старую
        страницу, либо кто-то ошибся в написании. Просто перейдите на
        <a href="/">главную страницу</a> на ней и соорентируетесь.
      </p>
      <p>
        Оформление этой страницы не очень, прямо скажем. Но вы на нее не должны
        были попасть по идее. Получается, мы оба разочарованы :(
      </p>
    </div>
  </body>
</html>
