<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <title>Как конвертировать файлы Web быстро и онлайн?</title>
    <meta
      name="Description"
      content="Быстро и бесплатно конвертируем файлы WebP в другие популярные форматы. В том числе в JPG, PNG, JPEG. Онлайн преобразование в нужный формат."
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <img
      src="logo/convert-file-logo.svg"
      alt="логотип Convert-file.online"
      class="logo"
      onclick="document.location='/'"
    />

    <h1>Конвертирование файлов из WebP формата ТЕСТ CI-CD2</h1>
    <div class="explanation">
      <p>
        <b>WebP формат</b> - формат сжатия изображений как с потерями, так и без
        потерь, предложенный компанией Google Inc. в 2010 году. Основан на
        алгоритме сжатия неподвижных изображений (ключевых кадров) из
        видеокодека VP8. Использует контейнер RIFF. Спасибо
        <a href="https://ru.wikipedia.org/wiki/WebP">Википедии</a> за пояснение.
      </p>
      <p>
        Простыми словами: WebP - это формат, который читается браузерами. Его
        используют, чтобы картинки меньше весили и браузеры их открывали очень
        быстро. Поэтому когда вы его пытаетесь открыть на компьютере, то вас
        либо кидает в браузер, либо вообще выдает ошибку.
      </p>
      <p>
        Не все так печально, просто воспользуйтесь одним из бесплатных
        конверторов ниже, чтобы изменить формат WebP на другие популярные
        форматы.
      </p>
    </div>
    <div class="choices">
      <div class="choice-item" onclick="document.location='webp2jpg'">
        <div class="border">
          <img
            src="logo/webp2jpg.svg"
            alt="Перейти к конвертированию webp в формат jpg/jpeg"
          />
        </div>
      </div>
      <div class="choice-item" onclick="document.location='webp2png'">
        <div class="border">
          <img src="logo/webp2png.svg" alt="Конвертировать webp в png" />
        </div>
      </div>
    </div>
  </body>
</html>
